.content {
    grid-area: middle;
    display: grid;
    grid-template-columns: 75% 25% ;
    margin: 0 10%;
   
}

article {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
   
}

article .post {
    width: 95%;
    margin: 20px auto;
    height: 230px;
    border-radius: 5px;
    background: #ffffff;
    position: relative;
}

article .post .post-img {
    width: 40%;
    height: 100%;
    float: left;
}

article .post .post-preview {
    width: 60%;
    float: right;
    padding: 10px;
}

article .post .post-preview .post-title {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

article .post .post-preview .catigory {
    display: inline-block;
}

article .post .post-preview .date {
    display: inline-block;
}

article .post .post-preview .preview-text {
   margin-top: -10px;
   margin-bottom: 20px;  
}

.post-link {
    color: black;
    text-decoration: none;
}

.post-link:hover{
    color:  rgb(236, 180, 37);
}

.read-more:hover {
    background-color: #444;
    color: rgb(236, 180, 37);
    transition: .25s;
}

.read-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

aside .section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #444;
}

aside .section.search {
    margin-top: 68px;
}

aside .section.topics {
    margin-top: 68px;
}

aside .section.topics ul li a  {
    display: block;
    padding: 10px 0px 15px 0px;
    border-bottom: 1px solid #e0e0e0;
    text-decoration: none;
    color:black ;
    transition: .3s;
}

aside .section.topics ul li {
    list-style: none;
}

aside .section.topics ul {
    padding-left: 0px;
}

.section-title {
    font-weight: bolder;
    margin: 10px 0 10px 0;
}

aside .section.topics ul li a:hover {
    padding-left: 20px;
    transition: .3s;
}