/* media quary */
@media only screen and (max-width: 760px){

    header {
        display: flex;
        /* height: 30vh; */
        align-content: stretch;
        flex-direction: column;
        
    }

    header ul li {
        margin-bottom: 7px;
    }

    ul {
        margin-top: -20px; 
        display: flex;
        flex-direction: column;
    }

    .logo {
       margin: 0;
    }

    .content {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, 750px) );
        margin: 0 0;

    }
    
    article .post {
        width: 100%;

    }
}
