@import "homeResposive.css";
@import"content.css";
@import"post.css";

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #24252a;
    color: blanchedalmond;
}

.container {
    display: grid;
    grid-template-areas: 
    'header header header header header header' 
    'middle middle middle middle middle  middle' 
    'footer footer footer footer footer footer';
    grid-row-gap: 30px; 
}

.btn {
    background-color: rgb(236, 180, 37);
    color: #444;
    border: 1px solid transparent;
    padding: .5rem 1rem ;
    border-radius: .25rem;
    text-decoration: none;
}
    /* navbar */
header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: rgb(236, 180, 37);
    align-items: center;
    /* flex-direction: column; */
    padding: 0px 40px;
    height: auto;
}

header ul li a {
    text-decoration: none;
    color: #444;
    font-size: 1.2em;
    font-family: "Montserrat",sans-serif;
    padding: 15px;
}

header ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

header ul{
    margin: 0;
}

.logo{
    margin-top: -15px;
    margin-bottom: -20px;
}

.logo .logo-text {
    color: #444;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, sans-serif;
    font-size: 1.3em;
    padding: 1px;   
}

header ul li a:hover {
    background-color: rgb(219, 167, 36);
    transition: .5s;
}

.title {
    color: #ffffff;
    margin-top: 4px;
    margin-left: 20px;
    font-size: 1.8em;
}

footer {
    grid-area: footer;
   
}
